%container{
  margin: 25px;
  width: 100%;
  height: auto;

}

.container{
  @extend%container;

  &-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
