.home-container {
  background: rgb(1,22,39);
  background: linear-gradient(25deg, rgba(1,22,39,1) 49%, rgba(169,0,22,1) 100%);
  padding: 50px 0;
  color: $light;
}
.home-text-container {
  padding-bottom: 50px;
  @include respond(lg) {
    margin-right:50px;
  }
}
.home-img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

  @include respond(md) {
    width: 300px;
    height: 300px;
  }

  @include respond(lg) {
    margin-left:50px;
  }
}

.home-img-round {
  width: 300px;
  @include respond(md) {
    width: 400px;
  }

}

.home-container-blog {
  height: 400px;
  background-color: $primary;
  color: $light;
}

.home-container-news {
  height: 400px;
  background-color: $secondary;
  color: $light;
}