.input-{
  &text{
    min-width: 300px;
    height: auto;
    border: none;
    border-bottom: 0.2rem solid $primary;
    border-radius: 0px;
    padding: 0.3rem 0.9rem;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;

    &:focus, &:hover {
      outline: none;
      border-color: $secondary;
    }
  
    &::placeholder {
      color: $dark;
    }
  }
}

.input-label {
  padding-top: 10px;
  font-size: 1.8rem;
  color: $primary;
  font-weight: bold;
}