.navbar {
  background-color: $dark;
  padding: 2rem 4rem;
  height: 5rem;
//   box-shadow: 0 0.2rem 0.4rem $dark;

  &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      height: 100%;
      padding: 0 4rem;

      @include respond(phone) {
          padding: 0;
      }

      &__item {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;

          @include respond(tab-port) {
              display: none;
          }
      }
  }

  &__link {
      color: $ligth;
      text-decoration: none;
      cursor: pointer;

      &:hover {
          color: $primary;
      }
  }

  &__logo {
      font-size: 2.8rem;
      color: $ligth;
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
  }

  &__button {
      display: none;

      @include respond(tab-port) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 65%;
          margin: 2.5% 0;
          width: 3rem;
          cursor: pointer;

          &:hover {
              height: 70%;
              margin: 15% 0;
          }

          &__component {
              display: none;

              @include respond(tab-port) {
                  display: block;
                  height: 0.3rem;
                  width: 100%;
                  background-color: $ligth;
                  margin: -8px;
              }
          }
      }
  }
}