%flex-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  @extend %flex-text;
  border-radius: 5px;
  width: 300px;
  min-height: 100px;
  border: 1px solid $dark;
  margin: 10px;
}
